.navbar-container {
    position: relative;
}
.navbar-items {
    display: flex;
    list-style-type: none;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.navbar-list-items {
    margin: 40px 15px 30px 30px;
    text-transform: uppercase;
}

.navbar-list-items-links {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    color: var(--accent-color);
    position: relative;
}
.navbar-list-items-links:active,
.navbar-list-items-links:focus,
.navbar-list-items-links:target {
    color: #717171;
}

.navbar-list-items-links::before {
    content: '';
    display: block;
    position: absolute;
    top: 1.4em;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--accent-color);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}

.navbar-list-items-links:active::before,
.navbar-list-items-links:focus::before,
.navbar-list-items-links:target::before {
    background-color: #717171;
}

.navbar-list-items-links:active::before {
    background-color: #717171;
}

.navbar-list-items-links:hover::before,
.navbar-list-items-links:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.logo {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 1;
}

@media screen and (max-width: 810px) {
    .navbar-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #f9f9f9;
        pointer-events: none;
        opacity: 0;
        transition: opacity 5s ease-in-out;
    }
    .navbar-items.active {
        pointer-events: auto;
        opacity: 1;
        color: green;
    }
    .navbar-items.inactive {
        display: none;
    }
    .menu-icon {
        display: block;
        height: 30px;
        width: 30px;
        position: relative;
        top: 20px;
        left: 40px;
        cursor: pointer;
        z-index: 1;
        transition: transform 0.2s ease-in-out;
    }
    .menu-icon.open {
        transform: rotate(90deg);
    }
}

@media screen and (min-width: 811px) {
    .menu-icon {
        display: none;
    }
}
